@font-face {
  font-family: "iconfont"; /* Project id 2616239 */
  src: url('iconfont.woff2?t=1623907782689') format('woff2'),
       url('iconfont.woff?t=1623907782689') format('woff'),
       url('iconfont.ttf?t=1623907782689') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_xinyong_xianxing_jijin-:before {
  content: "\e62e";
}

.icon-mima:before {
  content: "\e630";
}

.icon-user:before {
  content: "\e614";
}

